.search_module
	select.state_select
		option(value='national' selected="true" data-default="true" disabled) National
		each state in states
			option(value=state.abbrev) #{state.name}
	.search_box
		input(
		  type="text"
		  name="cityzip"
		  placeholder="Search by city or zip"
		)
	button#findAStore Find a Store